label{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
}
h5{
    text-align: left;
}
.direct-radio-button{
    margin-right: 10%;
}
span{
    display: block;
    text-align: left !important;
}