<div class="container">
    <h1 class="text-primary">Create Student Data</h1>
    <form action="" [formGroup]="studentForm">
        <div class="form-group col-md-6">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name">
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
            <label>Gender</label>
            <div class="d-flex align-items-center mt-2">
                <label class="option">
                    <input type="radio" name="radio" required formControlName="male" value="male">Male
                    <span class="checkmark"></span>
                </label>
                <label class="option ms-4">
                    <input type="radio" name="radio" formControlName="female" value="female">Female
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="">Mobile</label>
            <input type="number" class="form-control" formControlName="mobile">
        </div>
        <div class="form-group col-md-6">
            <label for="">Email</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group col-md-6">
            <label for="">Batch</label>
            <input type="date" class="form-control" formControlName="batch">
        </div>
        <div formGroupName="address">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-primary mt-3">Address:</h5>
                    <label>City</label>
                    <input type="text" class="form-control" required formControlName="city">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Mandal</label>
                    <input type="text" class="form-control" required formControlName="mandal">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>District</label>
                    <input type="text" class="form-control" required formControlName="district">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>State</label>
                    <input type="text" class="form-control" required formControlName="state">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Pincode</label>
                    <input type="number" class="form-control" required formControlName="pincode">
                </div>
            </div>
        </div>
        <!-- push method to add card details -->
        <div class="d-flex justify-content-start align-items-center mt-4">
            <button class="btn btn-success" (click)="addCard()">Add Education Details</button>
        </div>
        <!-- Form array -->
        <div formArrayName="education">
            <div *ngFor="let education of educationFormArray.controls; let i=index">
                <div formGroupName="{{i}}">
                    <h5 class="mt-4">Education Details</h5>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Qualification</label>
                            <input type="text" class="form-control" required formControlName="qualification">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Year</label>
                            <input type="number" class="form-control" required formControlName="year">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Percentage</label>
                            <input type="number" class="form-control" required formControlName="percentage">
                        </div>
                    </div>
                    <!-- Delete Education details -->
                    <div>
                        <button class="btn btn-danger mt-4" (click)="deleteCard(i)">Delete</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Nested form -->
        <div formGroupName="company">
            <h5 class="text-primary mt-3">Company Details</h5>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Name</label>
                    <input type="text" class="form-control" required formControlName="name">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="company name">location</label>
                    <input type="text" class="form-control" required formControlName="location">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="package">Package</label>
                    <input type="text" class="form-control" required formControlName="package">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="offer date">Offer Date</label>
                    <input type="date" class="form-control" required formControlName="offerDate">
                </div>
            </div>
        </div>

        <!-- Source type -->
        <div class="row">
            <div class="col-md-6 mt-md-0 mt4">
                <h5 class="text-primary mt-3">Source Type</h5>
                <div class="">
                    <div class=" mt-4">
                        <div class="form-check d-flex">
                            <div class="direct-radio-button">  
                                <input type="radio" class="form-check-input" value="direct" name="sourceType" formControlName="direct">
                                <label for="direct" class="form-check-label">Direct</label>
                            </div>
                            <div>
                                <input type="radio" class="form-check-input" value="referral" name="sourceType" formControlName="referral">
                                <label for="referral" class="form-check-label">Referral</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">

                    </div>

                </div>

            </div>

        </div>
        <div class="form-group col-md-6 mt-4">
            <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
        </div>

    </form>
</div>