<div class="container">
    <h1 class="text-primary">Create Student Data</h1>
    <form action="" [formGroup]="studentForm">
        <div class="form-group col-md-6">
            <label for="">Name</label>
            <input type="text" class="form-control"  placeholder="Name" formControlName="name">
        </div>
        <div class="form-group"> <label for="">Gender</label>
        </div>
        <div class="form-check col-md-6">
           
            <input type="radio" class="form-check-input" name="radio" formControlName="male">
            <label for="Male">Male</label>
            <input type="radio" class="form-check-input" name="radio" formControlName="female">
            <label for="Female">Female</label>
        </div>
        <div class="form-group col-md-6">
            <label for="">Mobile</label>
            <input type="number" class="form-control"  placeholder="Mobile number" formControlName="mobile">
        </div>
        <div class="form-group col-md-6">
            <label for="">Email</label>
            <input type="email" class="form-control"  placeholder="Email" formControlName="email">
        </div>
        <div class="form-group col-md-6">
            <label for="">Batch</label>
            <input type="date" class="form-control" placeholder="Name" formControlName="batch">
        </div>
        <div class="form-group col-md-6 mt-4">
            <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
        </div>

    </form>
</div>