<div class="container">
    <h1 class="text-primary">Create Student Data</h1>
    <form action="" [formGroup]="studentForm">
        <div class="form-group col-md-6">
            <label for="">Name</label>
            <input type="text" class="form-control" formControlName="name" required>
            <span class="text-danger" *ngIf="studentForm.get('name')?. invalid && studentForm.get('name')?. touched">
                <span *ngIf="studentForm.get('name')?. errors?.['required']">This field is required </span>
                <span *ngIf="studentForm.get('name')?. errors?.['minlength']">Please enter at least 3 characaters</span>
                <span *ngIf="studentForm.get('name')?. errors?. ['maxlength']">Maximum 10 characters only</span>
            </span>
        </div>
        <div class="col-md-6 mt-md-0 mt-3">
            <label>Gender</label>
            <div class="d-flex align-items-center mt-2">
                <label class="option">
                    <input type="radio" name="radio" required formControlName="male" value="male">Male
                    <span class="checkmark"></span>
                </label>
                <label class="option ms-4">
                    <input type="radio" name="radio" formControlName="female" value="female">Female
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="">Mobile</label>
            <input type="number" class="form-control" formControlName="mobile">
            <span class="text-danger"
                *ngIf="studentForm.get('mobile')?. invalid && studentForm.get('mobile')?. touched">
                <span *ngIf="studentForm.get('mobile')?. errors?. ['required']">This field required</span>
                <span *ngIf="studentForm.get('mobile')?. errors?. ['min']">Please enter minimum numbers</span>
                <span *ngIf="studentForm.get('mobile')?. errors?. ['max']">Maximum 10 numbers only</span>
            </span>
        </div>
        <div class="form-group col-md-6">
            <label for="">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <span class="text-danger" *ngIf="studentForm.get('email')?. invalid && studentForm.get('email')?. touched">
                <span *ngIf="studentForm.get('email')?. errors?. ['required']">This field required</span>
                <span *ngIf="studentForm.get('email')?. errors?. ['email']">Please enter valid mail id</span>
            </span>
        </div>
        <div class="form-group col-md-6">
            <label for="">Batch</label>
            <input type="date" class="form-control" formControlName="batch">
        </div>
        <div formGroupName="address">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-primary mt-3">Address:</h5>
                    <label>City</label>
                    <input type="text" class="form-control" required formControlName="city">
                    <span class="text-danger"
                        *ngIf="studentForm.get('address')?. get('city')?. invalid && studentForm.get('address')?.get('city')?. touched">
                        <span *ngIf="studentForm.get('address')?.get('city')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('address')?. get('city')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('address')?. get('city')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Mandal</label>
                    <input type="text" class="form-control" required formControlName="mandal">
                    <span class="text-danger"
                        *ngIf="studentForm.get('address')?. get('mandal')?. invalid && studentForm.get('address')?.get('mandal')?. touched">
                        <span *ngIf="studentForm.get('address')?.get('mandal')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('address')?. get('mandal')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('address')?. get('mandal')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>District</label>
                    <input type="text" class="form-control" required formControlName="district">
                    <span class="text-danger"
                        *ngIf="studentForm.get('address')?. get('district')?. invalid && studentForm.get('address')?.get('district')?. touched">
                        <span *ngIf="studentForm.get('address')?.get('district')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('address')?. get('district')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('address')?. get('district')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>State</label>
                    <input type="text" class="form-control" required formControlName="state">
                    <span class="text-danger"
                        *ngIf="studentForm.get('address')?. get('state')?. invalid && studentForm.get('address')?.get('state')?. touched">
                        <span *ngIf="studentForm.get('address')?.get('state')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('address')?. get('state')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('address')?. get('state')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Pincode</label>
                    <input type="number" class="form-control" required formControlName="pincode">
                    <span class="text-danger"
                        *ngIf="studentForm.get('address')?. get('pincode')?. invalid && studentForm.get('address')?.get('pincode')?. touched">
                        <span *ngIf="studentForm.get('address')?.get('pincode')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('address')?. get('pincode')?. errors?. ['min']">Pincode should be 6
                            numbers</span>
                        <span *ngIf="studentForm.get('address')?. get('pincode')?.errors?. ['max']">Pincode 6 numbers
                            only</span>
                    </span>
                </div>
            </div>
        </div>
        <!-- push method to add card details -->
        <div class="d-flex justify-content-start align-items-center mt-4">
            <button class="btn btn-success" (click)="addCard()">Add Education Details</button>
        </div>
        <!-- Form array -->
        <div formArrayName="education">
            <div *ngFor="let education of educationFormArray.controls; let i=index">
                <div formGroupName="{{i}}">
                    <h5 class="mt-4">Education Details</h5>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Qualification</label>
                            <input type="text" class="form-control" required formControlName="qualification">
                            <span class="text-danger"
                                *ngIf="educationFormArray.controls[i].get('qualification')?. invalid && educationFormArray.controls[i].get('qualification')?. touched">
                                <span
                                    *ngIf="educationFormArray.controls[i].get('qualification')?. errors?.['required']">This
                                    field is required </span>
                                <span
                                    *ngIf="educationFormArray.controls[i].get('qualification')?. errors?.['minlength']">Please
                                    enter at least 3 characaters</span>
                                <span
                                    *ngIf="educationFormArray.controls[i].get('qualification')?. errors?. ['maxlength']">Maximum
                                    10 characters only</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Year</label>
                            <input type="number" class="form-control" required formControlName="year">
                            <span class="text-danger"
                                *ngIf="educationFormArray.controls[i].get('year')?. invalid && educationFormArray.controls[i].get('year')?. touched">
                                <span *ngIf="educationFormArray.controls[i].get('year')?. errors?.['required']">This
                                    field is required </span>
                                <span *ngIf="educationFormArray.controls[i].get('year')?. errors?.['min']">please enter
                                    valid year</span>
                                <span *ngIf="educationFormArray.controls[i].get('year')?. errors?. ['max']">Please enter
                                    your properly</span>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-md-0 mt-3">
                            <label>Percentage</label>
                            <input type="number" class="form-control" required formControlName="percentage">
                            <span class="text-danger"
                                *ngIf="educationFormArray.controls[i].get('percentage')?. invalid && educationFormArray.controls[i].get('percentage')?. touched">
                                <span
                                    *ngIf="educationFormArray.controls[i].get('percentage')?. errors?.['required']">This
                                    field is required </span>
                                <span *ngIf="educationFormArray.controls[i].get('percentage')?. errors?.['min']">Please
                                    enter percentage with numbers</span>
                                <span
                                    *ngIf="educationFormArray.controls[i].get('percentage')?. errors?. ['max']">percentage
                                    should be 2 numbers only</span>
                            </span>
                        </div>
                    </div>
                    <!-- Delete Education details -->
                    <div>
                        <button class="btn btn-danger mt-4" (click)="deleteCard(i)">Delete</button>
                    </div>

                </div>
            </div>
        </div>
        <!-- Nested form -->
        <div formGroupName="company">
            <h5 class="text-primary mt-3">Company Details</h5>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label>Name</label>
                    <input type="text" class="form-control" required formControlName="name">
                    <span class="text-danger"
                        *ngIf="studentForm.get('company')?. get('name')?. invalid && studentForm.get('company')?.get('name')?. touched">
                        <span *ngIf="studentForm.get('company')?.get('name')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('company')?. get('name')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('company')?. get('name')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="company name">location</label>
                    <input type="text" class="form-control" required formControlName="location">
                    <span class="text-danger"
                        *ngIf="studentForm.get('company')?. get('location')?. invalid && studentForm.get('company')?.get('location')?. touched">
                        <span *ngIf="studentForm.get('company')?.get('location')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('company')?. get('location')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('company')?. get('location')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="package">Package</label>
                    <input type="text" class="form-control" required formControlName="package">
                    <span class="text-danger"
                        *ngIf="studentForm.get('company')?. get('package')?. invalid && studentForm.get('company')?.get('package')?. touched">
                        <span *ngIf="studentForm.get('company')?.get('package')?.  errors?. ['required']">This field
                            required</span>
                        <span *ngIf="studentForm.get('company')?. get('package')?. errors?. ['minlength']">Please enter
                            minimum 2 characters</span>
                        <span *ngIf="studentForm.get('company')?. get('package')?.errors?. ['maxlength']">Maximum 10
                            characters only</span>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <label for="offer date">Offer Date</label>
                    <input type="date" class="form-control" required formControlName="offerDate">
                </div>
            </div>
        </div>

        <!-- Source type -->
        <div class="row">
            <div class="col-md-6 mt-md-0 mt4">
                <h5 class="text-primary mt-3">Source Type</h5>
                <div class="">
                    <div class=" mt-4">
                        <div class="form-check d-flex">
                            <div class="direct-radio-button">
                                <input type="radio" class="form-check-input" value="direct" name="sourceType"
                                    formControlName="sourceType">
                                <label for="direct" class="form-check-label">Direct</label>
                            </div>
                            <div>
                                <input type="radio" class="form-check-input" value="referral" name="sourceType"
                                    formControlName="sourceType">
                                <label for="referral" class="form-check-label">Referral</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="studentForm.get('sourceType')?. value == 'direct'">
                    <div class="row">
                        <div class="col-md-6 mt-md-0">
                            <label for="source from">Source from</label>
                            <input type="text" class="form-control" required formControlName="direct">
                            <span class="text-danger"
                                *ngIf="studentForm.get('direct')?. invalid && studentForm.get('direct')?. touched">
                                <span *ngIf="studentForm.get('direct')?. errors?.['required']">This field is required
                                </span>
                                <span *ngIf="studentForm.get('direct')?. errors?.['minlength']">Please enter at least 3
                                    characaters</span>
                                <span *ngIf="studentForm.get('direct')?. errors?. ['maxlength']">Maximum 10 characters
                                    only</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="studentForm.get('sourceType')?. value =='referral'">
                    <div class="row">
                        <div class="col-md-6 mt-md-0">
                            <label for="source from">Referral Name</label>
                            <input type="text" class="form-control" required formControlName="referral">
                            <span class="text-danger"
                                *ngIf="studentForm.get('referral')?. invalid && studentForm.get('referral')?. touched">
                                <span *ngIf="studentForm.get('referral')?. errors?.['required']">This field is required
                                </span>
                                <span *ngIf="studentForm.get('referral')?. errors?.['minlength']">Please enter at least
                                    3 characaters</span>
                                <span *ngIf="studentForm.get('referral')?. errors?. ['maxlength']">Maximum 10 characters
                                    only</span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group col-md-6 mt-4">
            <button type="submit" class="btn btn-primary" (click)="onsubmit()">Submit</button>
        </div>

    </form>
</div>